
@media (min-width: 1199px) and (max-width: 9000px) {
#home-carousel .item {
     height: 430px;
	 width:100%;
} 
#slide1{
     background: url('../image/livingroom.png')top center no-repeat;
}
#slide2{
     background: url('../image/room.jpg') top center no-repeat;
}
#slide3{
     background: url('../image/painter-header.jpg') top center no-repeat;
	 
}
.carousel-caption h1{
   font-size:55px;
   margin-top:110px;
}
.carousel-caption h2{
   margin-left:0px;	
   margin-top: -7px;
}
.button1 {
	position:relative;
	bottom:160px;
	display: inline-block;
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	padding: 25px;
	width: 230px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}
}
@media (min-width: 992px) and (max-width: 1199px) {
#home-carousel .item {
    height: 430px;
	width:100%;
} 
#slide1{
    background: url('../image/livingroom.png')top center no-repeat;
}
#slide2{
    background: url('../image/room.jpg') top center no-repeat;
}
#slide3{
    background: url('../image/painter-header.jpg') top center no-repeat;

}
.carousel-caption h1{
    font-size:40px;
   margin-top:110px;
}
.carousel-caption h2{ 
   font-size:30px;
   margin-top: -7px;
}
.button1 {
	position:relative;
	bottom:170px;
	display: inline-block;
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}
}
@media (min-width: 768px) and (max-width: 991px) {
#home-carousel .item {
    height: 430px;
	width:100%;
}     
#slide1{
    background: url('../image/livingroom.png')top center no-repeat;
}
#slide2{
    background: url('../image/room.jpg') top center no-repeat;
}
#slide3{
    background: url('../image/painter-header.jpg') top center no-repeat;
}
.carousel-caption h1{
   font-size:35px;
   margin-top:110px;
}
.carousel-caption h2{
   font-size:24px;	
   margin-top: -7px;
}
.button1 {
	position:relative;
	bottom:160px;
	display: inline-block;
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}
}
@media (max-width: 767px) {
#home-carousel .item {
    height: 400px;
	width:100%;
}     
#slide1{
    background: url('../image/livingroom.png')top center no-repeat;
}
#slide2{
    background: url('../image/room.jpg') top center no-repeat;
}
#slide3{
    background: url('../image/painter-header.jpg') top center no-repeat;	 
}
.carousel-caption h1{
   font-size:25px;
   margin-top:110px;
}
.carousel-caption h2{
   font-size:20px;
   margin-top: -7px;
}

.padTop15 {
	padding-top:15px;
}
.button1 {
	position:relative;
	bottom:160px;
	display: inline-block;
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

} 
@media (max-width: 479px) {
#home-carousel .item {
    height: 400px;
	width:100%;
}     
#slide1{
    background: url('../image/livingroom.png') top center no-repeat;
}
#slide2{
    background: url('../image/room.jpg') top center no-repeat;
}
#slide3{
    background: url('../image/painter-header.jpg') top center no-repeat;
}
.carousel-caption h1{
   font-size:26px;
   margin-top:90px;
}
.carousel-caption h2{
	font-size:15px;	
	margin-top: -7px;
}

.padTop15 {
	padding-top:15px;
}
.button1 {
	position:relative;
	bottom:190px;
	display: inline-block;
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	padding: 15px;
	width: 180px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}
}
@media (max-width: 325px) {
#home-carousel .item {
    height: 40n0px;
	width:100%;
}     
#slide1{
    background: url('../image/livingroom.png')top center no-repeat;
}
#slide2{
    background: url('../image/room.jpg') top center no-repeat;
}
#slide3{
    background: url('../image/painter-header.jpg') top center no-repeat;
}
.padTop15 {
	padding-top:15px;
}
.button1 {
	position:relative;
	bottom:190px;
	display: inline-block;
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	padding: 15px;
	width: 180px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}
}
